#admin-menu a.service-catalog {
    background-image: url(../images/routing-icon.png);
}

.icon-service-catalog {
    background-image: url(../images/routing-icon.png);
    padding-left: 25px;
    background-repeat: no-repeat;
}

#service-catalog {
    display: flex;
    flex-wrap: wrap;
}

#service-catalog nav .category {
    width: 250px;
    background-color: #F0F0F0;
    margin-bottom: 2px;
    padding: 25px;
    border-left: 5px #CCC solid;
    display: block;
    text-decoration: none;
    color: #003052;
}

#service-catalog nav .category:hover, #service-catalog nav .category.active {
    text-decoration: none;
    font-weight: bold;
    border-left: 5px #F66A31 solid;
}

#service-catalog nav .category.active {
    text-decoration: none;
    font-weight: bold;
    border-left: 5px #E65A21 solid;
}

#service-catalog .services {
    margin: 0 15px;
    flex: auto;
}

#service-catalog .services .service {
    display: block;
    border: lightgrey solid 1px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    width: 300px;
    height: 170px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    background-color: #F5F5F5;
    color: #003052;
}

#service-catalog .services .service:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
}

#service-catalog .service-title {
    padding: 20px;
    background-color: white;
    font-size: 13px;
}

#service-catalog .service-body {
    padding: 20px;
}

#service-catalog .service-body .template-projects{
    height: 81px;
    overflow: auto;
}

#service-catalog .search input.apply {
    border: 2px solid #003052;
    border-radius: 20px;
    color: #003052;
    font-size: 16px;
    padding: 6px 27px;
    cursor: pointer;
    background-color: #F5F5F5;
}

#service-catalog .search input#search_name {
    font-size: 16px;
    padding: 6px;
    width: 300px;
    margin-right: 15px;
}

#service-catalog .search {
    margin: auto;
}

#service-catalog .actions {
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

#service-catalog .actions .action {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    width: 300px;
    color: #003052;
    cursor: pointer;
    border: 2px solid #003052;
    background-color: #F5F5F5;
}

#service-catalog .actions h3 {
    margin-top: 10px;
    padding: 0;
    color: #003052;
    font-weight: bold;
}

#service-catalog .category {
    clear: both;
}

#service-catalog .category.hidden {
    display: none;
}

#services_list, #services_list td {
    text-align: left;
}

#services_list td.buttons {
    text-align: right;
}

#service-form input#service_name {
    width: 400px;
}

.catalog_list_templates_projects {
    background-color: lightyellow;
    padding: 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    margin: 1px 0 2px 0;
    display: inline-block;
}

.catalog_list_templates_projects:hover {
    border: 1px solid #FAD961;
    cursor: pointer;
    box-shadow: 0 1px 4px #FAAB1C;
}
