#admin-menu a.service-catalog {
    background-image: url(../images/routing-icon.png);
}

.icon-service-catalog {
    background-image: url(../images/routing-icon.png);
    padding-left: 25px;
    background-repeat: no-repeat;
}

#service-catalog {
    display: flex;
    flex-wrap: wrap;
}

#service-catalog nav .category {
    width: 250px;
    background-color: #F0F0F0;
    margin-bottom: 2px;
    padding: 25px;
    border-left: 5px #E65A21 solid;
    display: block;
    text-decoration: none;
    color: #003052;
}

#service-catalog nav .category:hover {
    text-decoration: none;
    font-weight: bold;
}

#service-catalog .services {
    margin: 0 15px;
    flex: auto;
}

#service-catalog .services .service {
    display: block;
    border: lightgrey solid 1px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    width: 250px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    background-color: #F5F5F5;
    color: #003052;
}

#service-catalog .services .service:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
}

#service-catalog .services .service.active {
    width: 100%;
}

#service-catalog .service-title {
    padding: 20px;
    background-color: white;
    font-size: 13px;
}

#service-catalog .service-body {
    padding: 20px;
}

#service-catalog .search input.apply {
    border: 2px solid #003052;
    border-radius: 20px;
    color: #003052;
    font-size: 16px;
    padding: 6px 27px;
    cursor: pointer;
    background-color: #F5F5F5;
}

#service-catalog .search input#search_name {
    font-size: 16px;
    padding: 6px;
    width: 300px;
    margin-right: 15px;
}

#service-catalog .search {
    margin: auto;
}

#service-catalog .actions {
    margin: 60px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

#service-catalog .actions .action {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    width: 300px;
    color: #003052;
    cursor: pointer;
    border: 2px solid #003052;
    background-color: #F5F5F5;
}

#service-catalog .actions h3 {
    margin-top: 10px;
    padding: 0;
    color: #003052;
    font-weight: bold;
}
